*{
    box-sizing: border-box;
 }
  
 main{
    max-width: 1050px;
    width: 95%;
    margin: auto;
    padding: 40px;
 }
 .espacio{
    background:rgb(61, 61, 247);
    color:cornsilk;
    text-align: left;
 }
  
 .titulo{
     font-family: 'Lucida Sans';
 }
  
 .PN{
    text-align: center;
 }
  
 .row{
    text-align: left;
 }
  
 .mb-3{
    text-align: justify;
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
  
 .column{
    text-align: justify;
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
  
 .parrafo{
    text-align: justify;
 }
 