@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.Titulo-principal {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 400%;
}
.Contenedor-First {
  width: 100%;
}

.Labelsito {
  width: 50%;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  color: rgb(7, 5, 5);
}

.inputsito {
  width: 100%;
  background-color: #cdcec0;
  border: 3px solid rgb(255, 208, 1);
  border-radius: 3px;
  height: 45px;
  padding: 0% 40px 0 10px;
  transition: 0.3s ease all;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

.Fondo {
  background-color: #ebf5fb;
  padding: 30px;
  display: grid;
  
  
}

.Contenedor-Main {
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 70%;
  height: 70px;
  text-align: center;
}
.Titulo-One {
  color: white;
  background-color: #157ee0;
  font-weight: 700;
  text-align: center;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}
.Contenedor-One {
  float: right;
  text-align: center;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 29.8%;
  height: 70px;
  margin-top: -70px;
  display: block;
}

.Titulo-Two {
  color: white;
  background-color: #157ee0;
  font-weight: 700;
  text-align: center;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}

.Contenedor-Two {
  margin-top: -1%;
  border-style: solid;
  width: 50%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 150px;
}
.Titulo-Three {
  padding-inline-start: 2%;
  color: white;
  background-color: #157ee0;
  font-weight: 700;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
}

.Checkbox-One {
  width: 50%;
  font-weight: 700;
  cursor: pointer;
  color: rgb(7, 5, 5);
}

.Checkbox-Two {
  width: 50%;
  font-weight: 700;
  cursor: pointer;
  color: rgb(7, 5, 5);
}

.Checkbox-Three {
  padding-inline-start: 2%;
  font-weight: 700;
  cursor: pointer;
  color: rgb(7, 5, 5);
}

.Number-One {
  width: 60%;
  padding-inline-start: 2%;
  font-weight: 700;
  display: grid;
}
.Contenedor-Three {
  float: right;
  display: grid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 50%;
  height: 150px;
  margin-top: -150px;
}
.Titulo-Four {
  color: white;
  background-color: #157ee0;
  font-weight: 700;
  text-align: left;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  height: 26px;
}

.Checkbox-Four {
  font-weight: 700;
  display: block;
  cursor: pointer;
  color: rgb(7, 5, 5);
  padding-inline-start: 2%;
}

.Aviso {
  padding: 10px;
  color: grey;
  margin-top: -1%;
  font-size: small;
}
.Number-Two {
  width: 60%;
  padding-inline-start: 2%;
  font-weight: 700;
  display: grid;
  margin-top: 1px;
}

.Contenedor-Four {
  display: grid;
  border-style: solid;
  width: 100%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}
.Text-One {
  padding-inline-start: 1%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 70%;
  margin-top: 15px;
}

.Contenedor-Five {
  display: grid;
  border-style: solid;
  width: 60%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 90px;
}
.Text-Two {
  padding-inline-start: 1.7%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 70%;
  margin-top: 1%;
}
.Contenedor-Six {
  float: right;

  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 40%;
  height: 90px;
  margin-top: -90px;
}

.Date-Two {
  padding-inline-start: 2%;
  font-weight: 700;
  cursor: pointer;
  color: rgb(7, 5, 5);
  width: 70%;
  margin-top: 6%;
  display: block;
}

.Contenedor-Seven {
  display: grid;
  border-style: solid;
  width: 50%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 90px;
}

.Text-Three {
  padding-inline-start: 2%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 70%;
  margin-top: 1%;
}
.Contenedor-Eight {
  float: right;
  text-align: left;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 50%;
  height: 90px;
  margin-top: -90px;
}

.Text-Four {
  padding-inline-start: 1.7%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 70%;
  margin-top: 1%;
}

.Contenedor-Nine {
  display: grid;
  border-style: solid;
  width: 100%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 90px;
}

.Text-Five {
  padding-inline-start: 1%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 80%;
  margin-top: 1%;
}
.Contenedor-Ten {
  display: grid;
  border-style: solid;
  width: 33.33%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 90px;
}

.Text-Six {
  padding-inline-start: 3.5%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 80%;
  margin-top: 1%;
}
.Contenedor-Eleven {
  margin-left: 430px;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 33.33%;
  height: 90px;
  margin-top: -90px;
}

.Text-Seven {
  padding-inline-start: 1.7%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 70%;
  margin-top: 1%;
}
.Contenedor-Twelve {
  float: right;
  text-align: left;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 33.33%;
  height: 90px;
  margin-top: -90px;
}

.Text-Eight {
  padding-inline-start: 1.7%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 70%;
  margin-top: 1%;
}

.Contenedor-Thirteen {
  display: grid;
  border-style: solid;
  width: 60%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 90px;
}

.Text-Nine {
  padding-inline-start: 2%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 40%;
  margin-top: 1%;
}

.Contenedor-Fourteen {
  float: right;
  text-align: left;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 40%;
  height: 90px;
  margin-top: -90px;
}

.Text-Ten {
  padding-inline-start: 1.7%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 40%;
  margin-top: 1%;
}

.Text-Eleven {
  float: right;
  padding-inline-end: 5%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 40%;
  margin-top: -11%;
}

.Contenedor-Fifteen {
  display: grid;
  border-style: solid;
  width: 100%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 90px;
}

.Text-Twelve {
  padding-inline-start: 1%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 80%;
  margin-top: 1%;
}

.Contenedor-Sixteen {
  margin-top: -1%;
  display: grid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 60%;
  height: 100px;
  
}
.Titulo-Five {
  padding-inline-start: 2%;
  color: white;
  background-color: #157ee0;
  font-weight: 700;
  text-align: left;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  height: 26px;
}

.Name-Select {
  padding-inline-start: 2%;
  display: grid;
}

.Select-One {
  width: 50%;
}
.Contenedor-Seventeen {
  float: right;
  margin-top: -7.8%;
  border-style: solid;
  width: 40%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 100px;
}

.Number-Three {
  width: 60%;
  padding-inline-start: 2%;
  font-weight: 700;
  display: grid;
}

.Contenedor-Eighteen {
  text-align: center;
  border-style: solid;
  width: 100%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 120px;
  display: grid;
}

.Text-Thirteen {
  padding-inline-start: 1%;
  font-weight: 700;
  cursor: pointer;
  color: rgb(7, 5, 5);
  margin-top: 1%;
}

.Tamaño-1 {
  width: 30%;
}

.Tamaño-2 {
  width: 30%;
}

.Tamaño-3 {
  width: 30%;
}

.Tamaño-4 {
  width: 30%;
}


.Contenedor-Nineteen {
  display: grid;
  text-align: center;
  width: 100%;
  height: 120px;
}

.Text-Fourteen {
  padding-inline-start: 1%;
  font-weight: 700;
  cursor: pointer;
  color: rgb(7, 5, 5);
  margin-top: 2%;
}

.Contenedor-Twenty {
  border-style: solid;
  width: 40%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 90px;
}

.Text-Fifteen {
  width: 60%;
  display: grid;
  padding-inline-start: 3%;
  font-weight: 700;
  cursor: pointer;
  color: rgb(7, 5, 5);
  margin-top: 2%;
}

.Contenedor-Twenty-One {
  margin-left: 515px;
  text-align: left;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: 40%;
  height: 90px;
  margin-top: -90px;
}

.Text-Sixteen {
  padding-inline-start: 1.7%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 40%;
  margin-top: 1%;
}

.Text-Seventeen {
  float: right;
  padding-inline-end: 5%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 40%;
  margin-top: -11%;
}

.Contenedor-Twenty-Two {
  float: right;
 margin-top: -7%;
  border-style: solid;
  width: 20%;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 90px;
}

.Text-Eighteen {
  
  padding-inline-start: 5%;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  color: rgb(7, 5, 5);
  width: 40%;
  
}
