.Cprimario {
    display: flex;
  justify-content: center;
  align-items: center;
}

.Csecundario {
    width: 20%;
    margin-top: 9%;
  
}

.Logo {
    margin: auto;
    display: block;
}

.Bingresar {
    text-align: center;
}

.check {
    width: 60%;
    text-align: left;
}