.Cprimario {
    display: flex;
  justify-content: center;
  align-items: center;
}

.Csecundario {
    margin-top: 5%;
  
}

.Logo {
    margin: auto;
    display: block;
}

.Bingresar {
    text-align: center;
}

.check {
    width: 60%;
    text-align: left;
}

.col {
    text-align: center;
}